<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="covy.temporary.mapper.TemporaryMapper">
    <update id="UpdateDeviceStatusBulk"
            parameterType="해당 DTO(DAO) 경로">

        <!-- 임시 테이블 생성 -->
        CREATE TEMPORARY TABLE tempTable (
        DEVICE_SEQ_NO INT,
        SEND_RESULT VARCHAR(500)
        );

        <!-- 임시 테이블에 데이터 삽입 -->
        INSERT INTO tempTable (DEVICE_SEQ_NO, SEND_RESULT)
        <foreach collection="list" item="item" separator=",">
            (#{item.deviceSeqNo}, #{item.sendResult})
        </foreach>;

        <!-- 원본 테이블과 임시 테이블을 조인하여 업데이트 -->
        UPDATE DEVICE_MASTER D
        JOIN tempTable T ON D.DEVICE_SEQ_NO = T.DEVICE_SEQ_NO
        SET D.SEND_RESULT = T.SEND_RESULT;

        <!-- 임시 테이블 삭제 -->
        DROP TEMPORARY TABLE IF EXISTS tempTable;

    </update>
</mapper>