<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="covy.temporary.mapper.TemporaryMapper">
    <insert id="createTemporaryTable">
        CREATE TEMPORARY TABLE tempTable (
               SHELF_NO VARCHAR(3) PRIMARY KEY,   -- 매대번호 (고유 식별자)
               SHELF_NM VARCHAR(50) NOT NULL,                 -- 매대단 번호
               REGI_USER_ID VARCHAR(255),                     -- 매대 위치 (예: "1층 A구역")
               REGI_DTTM TIMESTAMP DEFAULT CURRENT_TIMESTAMP,     -- 생성일자
               FINAL_MOD_USER_ID VARCHAR(255),                     -- 매대 위치 (예: "1층 A구역")
               FINAL_MOD_DTTM TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP -- 수정일자
               )
    </insert>
    <insert id="insertShelfTemporary">
        INSERT INTO tempTable
        (
        SHELF_NO,
        SHELF_NM,
        REGI_USER_ID,
        REGI_DTTM,
        FINAL_MOD_USER_ID,
        FINAL_MOD_DTTM
        )
        VALUES
        <foreach collection="inVos" item="el" separator=",">
            (#{el.shelfNo}, #{el.shelfNm}, #{el.regiUserId}, SYSDATE(), #{el.finalModUserId}, SYSDATE())
        </foreach>
    </insert>
    <select id="selectTemporaryData"
    resultType="covy.temporary.model.vo.TemporaryInVo">
        SELECT *
          FROM tempTable
    </select>
</mapper>